{% extends 'base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block content %}


    <form action="{% url 'frontend:generate' %}" method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="btn btn-success">Generate</button>
    </form>

    <hr/>

    <br/>
    <br/>

    {% if tfidf_data %}

        <div style="height: 500px; overflow: auto;">
            <table class="table table-bordered table-sm">
              <thead class="thead-dark">
                <tr>
                    <th scope="col"> No </th>
                    <th scope="col"> Token </th>
                    <th scope="col"> Doc1 </th>
                    <th scope="col"> Doc2 </th>
                    <th scope="col"> Doc3 </th>
                    <th scope="col"> Doc4 </th>
                    <th scope="col"> Most relevant in document: </th>
                </tr>
              </thead>
              <tbody>

                {% for row in tfidf_data %}
                      <tr>
                          <th scope="row"> {{ forloop.counter }}</th>
                          <td> {{ row.0 }} </td>
                          {% for value in row.1 %}
                              <td> {{ value|floatformat:"-3" }} </td>
                          {% endfor %}
                      </tr>
                {% endfor %}

              </tbody>
            </table>
        </div>

        <br/>
        <form action="{% url 'frontend:export_to_csv' %}">

        <hr/>
        <button type="submit" class="btn btn-success">Export to Excel</button>
        </form>

        <br/>

        {% for row in top_words %}

            <div>
            Top words in Document {{ forloop.counter }} are :

                <br/>

                <div>
                <b>
                    {% for content in row %}

                        <span class="badge badge-pill badge-dark">{{ content.0 }}</span>


                    {% endfor %}

                </b>

                </div>

                <br/>

            </div>

        {% endfor %}

{#        <form action="{% url 'frontend:search' %}">#}
{#            <input type="text" name="search" placeholder="Search by word" value="{{request.GET.title}}">#}
{#            <input type="submit" value="Search">#}
{#        </form>#}

{#    <form name="searchoutput" method="GET" action="{% url 'frontend:search' %}">#}
{#        <input type="text" name="search" placeholder="Search" />#}
{#        <input type="submit" value="Search">#}
{#    </form>#}


    <input type="text" id="user-input" autofocus="" style="margin-right: 10px;width: 400px">
    <button class="btn btn-primary"  type="button" id="sender">Send data</button><br>



    {% endif %}


         <script>

        $("#sender").click(function () {
            var input = $('#user-input').val();

            $.ajax({
                url: '{% url 'frontend:get_response' %}',
                data: {
                  'search': input
                },
                dataType: 'json',
                success: function (data) {

                    var elementExists = document.getElementById('template-container');

                    if (elementExists){
                        elementExists.remove()
                    }


                    let templates = document.createElement("div");
                    templates.id = 'template-container'
                    document.body.append(templates)

                    if (data["response"] === null){
                        var newTitle = document.createElement("p");
                        newTitle.id = 'p-search-title'
                        newTitle.innerHTML = "term does not exist in the documents"
                        document.getElementById('template-container').append(newTitle);
                        return;
                    }

                    var myStringArray = Array.from(data["response"]);

                    var newTitle = document.createElement("p");
                    newTitle.id = 'p-search-title'
                    newTitle.innerHTML = "The most relevant documents for the term '"+String(input)+"' are in the following order"

                    document.getElementById("template-container").style.padding = "50px";

                    document.getElementById('template-container').append(newTitle)

                    {#console.log(Array.from(data["response"]));#}

                    console.log(myStringArray);
                    var arrayLength = myStringArray.length;
                    for (var i = 0; i < arrayLength; i++) {
                        var newDiv = document.createElement("li");
                        newDiv.className = 'list-group-item'
                        newDiv.innerHTML = 'Document '+ String(parseInt(myStringArray[i])+1);
                        document.getElementById('template-container').append(newDiv);
                    }

                    {#document.body.append(templates)#}
                }
              });
            });

        </script>

{% endblock %}